.box-heading{
    width: 15%;
    color: white;
    margin-bottom: -20px;
    margin-left: 22px;
    opacity: 99;
    background-color: rgb(104, 103, 103);
}
.box-container{
    opacity: 1;
    width: 100%;
    min-height: 300px;
    background-repeat: no-repeat;
    background-image:   
        linear-gradient( rgb(104, 103, 103), rgb(104, 103, 103)),
        linear-gradient( rgb(104, 103, 103), rgb(104, 103, 103)),
        linear-gradient( rgb(104, 103, 103), rgb(104, 103, 103)),
        linear-gradient( rgb(104, 103, 103), rgb(104, 103, 103));
    background-size:    100% 5px, 5px 100%, 100% 5px, 5px 100%;
    background-position:    0 0, 100% 0, 100% 100%, 0 100%;
    animation: bg 1s cubic-bezier(0.19, 1, 0.22, 1) 1;
    /* animation-play-state: running; */
}
@keyframes bg {
    0% {
        background-size:    0 5px, 5px 0, 0 5px, 5px 0;
    }
    25% {
        background-size:    100% 5px, 5px 0, 0 5px, 5px 0;
    }
    50% {
        background-size:    100% 5px, 5px 100%, 0 5px, 5px 0;
    }
    75% {
        background-size:    100% 5px, 5px 100%, 100% 5px, 5px 0;
    }
    100% {
        background-size:    100% 5px, 5px 100%, 100% 5px, 5px 100%;
    }
}
.full-split-container{
    /* border: 1px solid black; */
    border-radius: 3px;
    box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.568);;
}
.block-container{
    background-color: rgb(231, 230, 230);
}
.card-container-in-block{
    background-color: rgb(170, 245, 255);
    transition: 2s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120px;
    cursor: pointer;
    overflow: hidden;
}
.card-footer-in-block{
    background-color: transparent !important;
    border: none !important;
}
.card-container-in-block:before {
    content: "__";
    font-weight: 900;
    color: black;
    position: absolute;
    opacity: 0;  
    bottom: 12px;
    right: 20px;
    transition: 1s;
}
.card-container-in-block:hover:before {
    opacity: 1;
    right: 6px;
}
.card-container-in-block:after {
    content: "__";
    font-weight: 900;
    color: black;
    position: absolute;
    opacity: 1;  
    bottom: 12px;
    right: 12px;
    transition: 0.4s;
}
.card-container-in-block:hover:after {
    opacity: 0;
    right: 6px;
}
a:hover {
    color: black;
}