.site-card-container{
    height: 200px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.site-card-container:hover{
    box-shadow: 0 2px 10px -1px rgba(147, 90, 252, 0.568);
}
.site-card-footer{
    background-color: transparent;
}
.explore-label-icon{
    cursor: pointer;
}