.body-content{
    width: 100%;
    position: relative;
}
.header-component{
    width: 100%;
    position: sticky;
}
.side-nav-content{
    background-color: white;
    width: 5%;
    z-index: 99;
    float: left;
    height: 100vh;
    position: absolute;
    overflow: auto;
}
 .components-content{
    height: 100vh;
    overflow: auto;
    z-index: 1;
    width: 93%;
    margin-left: 6%;
}
.side-nav-content:hover{
    width: 13%;
    transition: 0.3s ;
}
.plus-icon{
    cursor: pointer;
}